@import "../Common.scss";

// social media icons 


.headline{
    text-align:center;
    h2{
        margin: 0px auto;
      font-size:35px;
       color: $colorThree;
       border-bottom: 3px solid $colorThree;
       width: fit-content; 
       font-family: $myFont;
       text-transform: uppercase;
       text-align: center;
       font-size: 1.8em;
       font-weight: bold;
    }
  }
  
  .social-buttons{
    display:inline-block;
    background: #fff;
    padding: 20px;
    box-shadow: 2px 6px 6px 2px rgb(224, 216, 224);
    
    padding-bottom: 5px;
    border-radius:10px;
    text-align:center;
    margin:20px 10px;
    
  .social-margin {
    margin-right: 15px;
  }
  
  a,
  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }
  
  .social-icon {
    margin-bottom: 15px;
     box-sizing: border-box;
    -moz-border-radius: 138px;
    -webkit-border-radius: 138px;
    border-radius: 138px;
    border: 5px solid;
    text-align: center;
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 1px;
    padding-top: 11px;
    transition: all 0.5s;
    &:hover {
      transform: rotate(360deg)scale(1.3);
    }
  
  
    &.facebook {
      font-size: 22px;
      padding-top: 9px;
      border-color: #3b5998;
      background-color: #3b5998;
      color: #ffffff;
      &:hover {
        background-color: #ffffff;
        color: #3b5998;
      }
    }
  
    &.instagram {
      font-size: 22px;
      padding-top: 9px;
      border-color:  #ff0000;
      background-color:  #ff0000;
      color: #ffffff;
      &:hover {
        background-color: #ffffff;
        color:  #ff0000;
      }
    }
  
  
    &.twitter {
      font-size: 22px;
      padding-top: 10px;
      padding-left: 2px;
      border-color: #55acee;
      background-color: #55acee;
      color: #ffffff;
      &:hover {
        background-color: #ffffff;
        color: #55acee;
      }
    }
   
    
    &.linkedin {
      font-size: 24px;
      padding-top: 8px;
      padding-left: 1px;
      background-color: #0976b4;
      color: #ffffff;
      border-color: #0976b4;
      &:hover {
        background-color: #ffffff;
        color: #0976b4;
      }
    }
   
    &.pinterest {
      font-size: 22px;
      padding-top: 9px;
      background-color: #cb2027;
      color: #ffffff;
      border-color: #cb2027;
      &:hover {
        background-color: #ffffff;
        color: #cb2027;
      }
    }
    
   
    &.tumbler {
      font-size: 22px;
      padding-top: 9px;
      background-color: #34526f ;
      color: #ffffff;
      border-color: #34526f ;
      &:hover {
        background-color: #ffffff;
        color: #34526f ;
      }
    }
    
   
    
    
    
    &.youtube {
      font-size: 22px;
      padding-top: 9px;
      padding-left: 0px;
      background-color: #bb0000;
      color: #ffffff;
      border-color: #bb0000;
      &:hover {
        background-color: #ffffff;
        color: #bb0000;
      }
    }
   
    &.redit {
      font-size: 22px;
      padding-top: 9px;
      padding-left: 0px;
      background-color: red;
      color: #ffffff;
      border-color: red;
      &:hover {
        background-color: #ffffff;
        color: red;
      }
    }
  }
  }