@import '../../Common.scss';

footer{
     background-color: $colorFive;
    padding: 50px 50px;

   .footer-last{
       p{
           color: #FC9E4F;
       }
   }

    .footer-one{
        .fa-facebook{
            border: 3px solid #3b5998;
            color: #3b5998;
            padding: 5px 10px;
            border-radius: 50%;
            cursor: pointer;
            margin-right:5px;
            margin-bottom: 5px;
            &:hover{
                background-color: #3b5998;
                color: #fff;
                transition: 0.3s ease-in all;
            }
        }

        .fa-twitter{
            border: 3px solid  #55acee;
              color: #55acee;
           padding: 5px 10px;
            border-radius: 50%;
            cursor: pointer;
            margin-right:5px;
            &:hover{
                background-color:  #55acee;
                color: #fff;
                transition: 0.3s ease-in all;
            }
        }

        .fa-youtube{
            border: 3px solid red;
            color: #fff;
           padding: 5px 10px;
            border-radius: 50%;
            cursor: pointer;
            margin-right:5px;
            &:hover{
                background-color: red;
                transition: 0.3s ease-in all;
            }
        }
       
        .fa-reddit{
            border: 3px solid red;
            color: #fff;
           padding: 5px 10px;
            border-radius: 50%;
            cursor: pointer;
            margin-right:5px;
            &:hover{
                background-color: red;
                transition: 0.3s ease-in all;
            }
        }

        .fa-pinterest-p{
            border: 3px solid #cb2027;
            color: #cb2027;
           padding: 5px 10px;
            border-radius: 50%;
            cursor: pointer;
            margin-right:5px;
            &:hover{
                background-color: #cb2027;
                transition: 0.3s ease-in all;
                color: #fff;
            }
        }
       
        h5{
            font-size: 1.3em;
            font-weight: bold;
            color: $colorTwo;
            border-bottom: 3px solid $colorThree;
            width: fit-content;
           
        }
        ul{
            li{
                list-style: none;
                a{
                    text-decoration: none !important;
                    color: $colorOne;
                    line-height: 2em;
                    font-weight: 500;
                    font-size: 1.2em;
                    text-transform: uppercase;
                    &:hover{
                        color: $colorThree;
                    }
                }
            }
        }
    }
}